/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
}

/* Control the left side */
.left {
    left: 0;
    background-color: #ffffff;
    margin-top: 10px;
}

/* Control the right side */
.right {
    right: 0;
    background-color: rgba(255, 0, 0, 0.01);
}

.imageChanger {
    background-image:url("Lundi271.jpg");
    background-repeat: no-repeat;
    height: 400px;
}
.boutonVelo {
    font-family: 'Lobster', cursive;
    font-size:50px;
    width:50%;
    text-align: center;
    background-color: #7881ad;
    color:white;
    margin-top: 10px;
    border-radius: 5px;
}
.boutonVelo:hover {
    background-color: #3d3b3b;
}
.nom {
    width: 100%;
    height: 8vh;
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    color: white;
    background-color: #3d3b3b;

}
.image {
    text-align: center;
}
.Image {
    background-position: center;
    margin-top: 10px;
}
.description {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 10px;
}
.moteur {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 10px;
}
.prix {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 10px;
}
